
.header-logo{
      padding:10px; 
}


.sidenavbar{    
    height: 100%;
    width: var(--sidenavbar-size);
    position: fixed;
    z-index: 1;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05);
    top: 0;
    left: 0;
    background-color: var(--brand-white);
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
    /*alineacion de elmentos del sidenavbar*/
    display: flex;
    flex-flow: column;
    align-items: center;
}

.sidenavbar-logo{
    margin:0px 5px 100px 5px;
}

.sidenavbar-link > li{
    margin:20px 0;
}
 .main-content{
            background-color: var(--brand-white);
            width: calc(100% - var(--sidenavbar-size));
            position: relative;
            left:var(--sidenavbar-size);   
        }

.header-content{
              background-color: var(--brand-light-gray-2);
              text-align: center;
              padding: 65px 20px;
        }
        

.header-container{
            display: flex;
            justify-content: space-between;
            padding: 25px;
        }
 
.data-container{
   padding: 20px;  
}

.table-payments{
    border-collapse: collapse;
    width: 100%;  
    border: .5px solid var(--brand-light-gray);
    border-radius:5px;
}

.table-payments > thead, td, th {
    padding: 15px;
    text-align: left;
    border-top: 1px solid var(--brand-light-gray);
    border-bottom: 1px solid var(--brand-light-gray);
    border-radius: 5px;
}

.data-detail{
    margin:1px 0;
    padding: 25px 40px; 
    max-height: 50px;
    border:.5px solid var(--brand-light-gray);
    border-radius: 4px;
    
}

 .time-grid{   
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2,50%);
    grid-template-columns: repeat(2,50%);
    text-align: center;
    border: .5px solid var(--brand-light-gray);
             
}
        
.time-detail{  
    border-right: .5px solid var(--brand-light-gray);
    border-bottom: .5px solid var(--brand-light-gray);
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    padding: 30px 17px;
}

.scrolling-wrapper{
          display: flex;
          flex-wrap: nowrap;
          overflow-x: auto;
          margin: 10px 0;
        }

.card{
            display:flex;
            width: 220px;
            height: 300px;
            flex: 0 0 auto;
            border: .5px solid var(--brand-light-gray);
            border-radius: 5px;
            padding: 10px;
            margin: 0 8px;
            flex-flow: row wrap ;
            justify-content: center;
            align-items: center;
            text-align: center;
            
        }

/* tablet*/
@media screen 
    and (min-device-width : 426px)
    and (max-device-width : 768px){
	
    :root{
	
  }
    
    .container{
         padding: 20px;   
    }
        
        
     .time-grid{   
        width: 100%;
        display: grid;
        grid-template-rows: repeat(1,100%);
        grid-template-columns: repeat(4,25%);
        text-align: center;
        border: .5px solid var(--brand-light-gray);

    }
        
    .time-detail{  
        border-right: .5px solid var(--brand-light-gray);
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        padding: 30px 17px;
    }
        
         
      .card{
           
            height: 270px;
        }
        
}

/* movil*/
@media screen 
    and (min-width : 320px) 
    and (max-width : 425px){
        
        :root{

      }
        body{
            width: 100%;
        }
     
        .navbar, .data-container, .sidenavbar{
            display: none;
        }
        
        .navbar-mobile{
            display: flex;
            padding: 15px;
            align-content: space-around;
            align-items: center;
            flex:2;
        }
        
        .header-logo{
            margin:0 10px;
        }
        
         .main-content{
            background-color: var(--brand-white);
            width: 100%;
            position: static;
        }


        .user_image{
             
        }
     
         
        .container{
            padding: 0 10px;
        }
        
        .data-container-mobile{
            display: grid;
            grid-template-rows:repeat(3,75px);
            width: 100%;
            border: 1px solid var(--brand-light-gray);
            border-radius: 5px;
            padding:20px;   
        }
        
       
         .data-detail{   
           padding: 5px;
           border:none;
        }
        
        
        .time-grid{
             min-height: 320px;
             display: grid;
             grid-template-rows:repeat(2,50%);
             grid-template-columns:repeat(2,50%);
             text-align: center;
             border-bottom: .5px solid var(--brand-light-gray); 
             border-left: .5px solid var(--brand-light-gray); 
             border-top:none;
        }
       
        
        .time-detail{  
          border-top: .5px solid var(--brand-light-gray); 
          border-right: .5px solid var(--brand-light-gray); 
          display: flex;
          justify-content: center;
          flex-flow: column wrap;
        }
        
         .card{
            width: 200px;
            height: 220px;
            
        }
        
         .two-column{   
             column-count: 2;
        }
         
        
        .float-right{
            float:right;
        }
        
    
}