*{
	box-sizing: border-box;
	margin:0px;
	padding:0px;
	font-family: 'Lato', sans-serif;
}

:root{
    /*colors*/
    --brand-black:#0d0d0d;
    --brand-white:#ffffff;
    --brand-light-gray-2:#e6e6e6;
    --brand-light-gray:#9ca1a3;
    --brand-dark-gray:#4d4d4d;
    --background-gray:#f4f5f5;

    /*other*/
    --sidenavbar-size:120px;
    
    /*text size*/
    --text-small-size:11px;
    --text-size:14px;
    --title-size:40px;
    --subtitle-size:18px;
    --subheader-text-size:16px;
    
}

body{
    background-color: var(--brand-white);
    color:var(--brand-light-gray);
}

h1, h2, h3{
    font-weight: normal;
}

h1{
    font-size:var(--title-size);
}

h2{
    font-size:var(--subtitle-size);
}

h3{
    font-size:var(--subheader-text-size);
}

a{
    text-decoration: none;
    color:var(--brand-light-gray);
    transition: all .4s;
}

ul > li{
    list-style: none;
}

a:hover { 
    
}


a:focus {
   
}


a:active {
   color: var(--brand-white);
} 

.circle{
    border-radius: 100%;
    background-color: var(--brand-light-gray-2); 
}

/*modificadores de tamaño de circle*/

.small{
    width: 30px;
    height: 30px;
}

.medium{
    width: 50px;
    height: 50px; 
}

.big{
    width: 90px;
    height: 90px; 
}

.btn-default{
    border-radius:5px;
    background-color: var(--brand-dark-gray);
    color:var(--brand-white);
    padding: 10px 45px 10px 45px;
    border:none;
    outline: none;
    transition: all .2s;
}


.btn-default:hover{
   background-color: var(--brand-light-gray);
}

.btn-default:focus {
   
}

.btn-default:active {
    background-color: var(--brand-light-gray);
    outline: none;
   transform: scale(.9,.9);
} 

.btn-mobile{
    border:none;
    outline: none;
    background-color: transparent;
    font-size: 1.5em;
    color:var(--brand-light-gray);
    min-width: 20px;
    max-height: 30px;
}

.btn-mobile:hover{
   background-color: var(--brand-light-gray);
}

.btn-mobile:focus {
    background-color: transparent;
}

.btn-mobile:active {
    background-color: var(--brand-light-gray);   
} 

.flex-grid {
  display: flex;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.col-3 {
  flex: 3;
}

.col-4 {
  flex: 4;
}

.col-5 {
  flex: 5;
}

.col-6 {
  flex: 6;
}

.col-7 {
  flex: 7;
}

.col-8 {
  flex: 8;
}

.col-9 {
  flex: 9;
}

.col-10 {
  flex: 10;
}

.col-11 {
  flex: 11;
}

.col-12 {
  flex: 12;
}

.center-text{
    text-align: center;
}


.navbar-mobile, .data-container-mobile{
            display: none;
        }
 
