
.header-landing{
    align-items: center;
    justify-content: space-between;
    padding:20px 10px 0 10px;
    margin:0 10px 0 10px;
    
}

.header-nav{
    display: flex;
    justify-content: center;
}

.header-nav > li{
    display:inline;
    list-style: none;
    padding:0 10px 0 10px; 
}

.header-logo{
    display: inherit;
    justify-content: center;
}


.main-content{
    background-color: var(--brand-light-gray-2);
    width: 100%;
    
}

.main-content-welcome{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
    padding: 60px;
    height: 550px;
    text-align: center
}

.welcome-header{
    display:flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center; 
    padding: 0 50px;
}

.welcome-header__list > li{
    padding: 20px;
}

.welcome-container{
    display:flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    border:1px solid var(--brand-light-gray);
    background-color: var(--brand-white);
    border-radius: 5px;
    width: 100%;
    margin:20px;
    padding: 40px 35px;
    align-content: space-between;
    text-align: center;
}



.main-content-features{
    display:grid;
    grid-template-columns: repeat(4,300px);
    grid-template-rows: repeat(1,100%);
    grid-column-gap: 20px; 
    padding: 20px;
    
}

.page-content{
    background-color: var(--brand-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 400px 50px;
    width: 100%;
}

.page-content__container{
    display: inherit;
    align-items: center;
    justify-content: space-around;
}



.footer{
    padding: 0 30px;
}

.footer-list  > li{
    font-size: var(--text-size);
    margin:5px 0;
}

.footer-text{
    font-size: var(--text-size);
}

